body{
  text-align: center;
  width:100%;
  font-family: raleway;
}

.container{
  width:90%;
  margin-right: auto;
  margin-left: auto;
}

.header{
  text-align: center;
  line-height: 0.7em;
}

hr{
  width:40%;
  text-align: center;
}

h1 {
    color: black;
    text-align: center;
    font-family: raleway;
    text-transform: uppercase;
}

p {
    font-family: raleway;
    font-size: 14px;
}

.experience {
  text-align: center;
}
