body{
  text-align: center;
  width:100%;
}

.header{
  text-align: center;
  line-height: 0.7em;
}

hr{
  width:50%;
  margin: auto 0;
}

h1 {
    color: black;
    text-align: center;
    font-family: raleway;
    text-transform: uppercase;
}

p {
    font-family: Roboto;
    font-size: 16px;
}

.experience {
  float:left;
  width: 60%;
  text-align: left;
}
